body {
  background-color: white;
  min-height: 100vh;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.primary {
  color: #930077;
}

header {
  padding: 20px 1.5rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  background: linear-gradient(0.25turn, #3a0088, #930077, #e61c5d);
}

header h1 {
  font-size: 30px;
  text-align: center;
  color: white;
}

.message.is-info {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.message.is-info .message-header {
  background-color: rgba(0, 0, 0, 0.1);
  color: #3a0088;
}

#items_container {
  margin-bottom: 20px;
}

.addReceipt {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
}

.addReceipt h2 {
  text-align: center;
}

.addReceipt textarea, .addReceipt input {
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 20px;
  border: solid 2px #3a0088;
}

.addReceipt textarea:focus, .addReceipt input:focus {
  outline: none;
}

.addReceipt button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background: #930077;
  color: white;
}